Dear SALT user,

Your BVIT observations are now available for pickup through ftp:

Raw Data:
ftp://saltdata.salt.ac.za/YYYY-INST-PID_yyyymmdd/

You will need to login to the ftp server using your PIPT username and
password.  Due to limitations in storage, the data will only remain
available for a maximum of one month of time.   

Contact the SALT project at salthelp@saao.ac.za if you have any
difficulty downloading, inspecting, or analyzing your data.

Sincerely,
The SALT Operations Team

